<% title "Events" %>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Event Type</th>
    <th>Location</th>
    <th>Capacity</th>
  </tr>
  <% for event in @events %>
    <tr>
      <td><%= event.title %></td>
      <td><%= event.description %></td>
      <td><%= event.event_type %></td>
      <td><%= event.location %></td>
      <td><%= event.capacity %></td>
      <td><%= link_to "Show", event %></td>
      <td><%= link_to "Edit", edit_event_path(event) %></td>
      <td><%= link_to "Destroy", event, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Event", new_event_path %></p>
