<div id="events">

  <% if !@events.empty? %>
  <table class   = "datagrid">
    <thead class = "datagrid">
      <% if can? :modify, Event %>
      <th></th>
      <% end %>
      <th>Name</th>
      <th>Location</th>
      <th>Date</th>
      <th>Time</th>
      <th>Photos</th>
      <% if can? :modify, Event %>
      <th></th>
      <% end %>
    </thead>

    <% @events.each do |event| %>
    <tr class="<%= cycle('dg_list_line_odd', 'dg_list_line_even') %>">
      <% if can? :modify, event %>
      <td><%= link_to image_tag('icons/edit.png', :border => 0, :size => "20x20"), edit_event_path(event) %></td>
      <% end %>
      <td><%= link_to event.title, event %></td>
      <td><%= event.location %></td>
      <td>
        <%= show_date(event.start_date, event.end_date) %>
      </td>
      <td>
        <%= show_time(event.start_time, event.end_time) %>
      </td>
      <td>
        &nbsp;
      </td>
      <% if can? :modify, event %>
      <td><%= link_to image_tag('icons/trash.gif', :border => 0, :size => "20x20"), event, :confirm => 'Are you sure?', :method => :delete  %></td> 
      <!-- Alternative method for deleting a record. -->
      <!-- <td><%# button_to "Delete", event, :method => :delete, :class => :destroy, :confirm => "Are you sure?" %></td> -->
      <% end %>
    </tr>
    <% end %>
  </table>
  <% else %>

  <p>There are no scheduled upcoming classes.</p>

  <% end %>
</div>