<div id="nav-header">
<h2>Details for <em><%= @event.title %></em>:</h2>
<% if can? :modify, @event %>
<h3 class="title"><%= link_to(image_tag('icons/add.gif', :size => '20x20'), edit_event_path(@event)) %></h3>
<% end %>
</div>
<table>
  <tr>
    <td>
      <div id="event-details-important">
      <h3 id="event-description"><%= @event.description %></h3>
      <h3 class="event-info"><em>Important Information:</em></h3>
      <p>
        This event is scheduled for <strong><%= show_date(@event.start_date, @event.end_date) %></strong>.
        <br />
        <br />
        The tentative time is <strong><%= show_time(@event.start_time, @event.end_time) %></strong>.
        <br />
        <br />
        It will take place at <strong><%= @event.location %></strong>.
      </p>
      </div>

      <div id="event-details-other">
      <% if logged_in? && current_user.admin? %>
      <h3 class="event-info"><em>Other Information:</em></h3>
      <p>
        <b>User:</b>
        <%= @event.user.nice_name %>
      </p>
      <% if can? :modify, Event %>
      <p>
        <b>Active:</b>
        <%= @event.active %>
      </p>

      <% end %>
      <% end %>


      <% if can? :modify, @event %>
        <%= link_to 'Edit', edit_event_path(@event) %> |
        <%= link_to 'Back', events_path %>
      <% end %>
      </div>
    </td>

  </tr>
</table>
