<% if !@favorite.nil? && can?(:modify, @favorite) %>
<%= link_to image_tag('icons/unstar.gif', :border => 0, :size => "20x20"), { :controller => 'foods', :action => 'remove_favorite', :favorite_id => @favorite.id }, :class => :destroy %>
<% else %>
<%= link_to image_tag('icons/star.gif', :border => 0, :size => "20x20"), { :controller => 'foods', :action => 'add_favorite', :food_id => @food.id } %>
<% end %>
<h2 style="display: inline;"><%= @food.name %></h2> <span style="display: inline;"><font size="1"><%= @food.show_food_type %></font></span>


<p>
  <%= @food.description %>
</p>
<p>
  <strong>Calories:</strong>
  <%= @food.calories %>
</p>
<p>
  <strong>Cost:</strong>
  <%= @food.cost %>
</p>

<div id="food-status">
<% if !@ef.nil? && can?(:modify, @ef) %>
<%= button_to "Oops! I didn't eat this", { :controller => 'foods', :action => 'unmark_as_eaten', :ef_id => @ef.id }, :class => :destroy %>
<% else %>
<%= button_to "I ate this", { :controller => 'foods', :action => 'mark_as_eaten', :food_id => @food.id } %>
<% end %>
</div>