<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
  <%= stylesheet_link_tag "application", 'jquery-ui-1.9.0.custom' %>
  <%= javascript_include_tag 'jquery-1.8.2', 'jquery-ui-1.9.0.custom.min' %>
  <%= csrf_meta_tag %>
  <%= yield(:head) %>
</head>
<body>

  <div id="navigation" class="invertedshiftdown">
    <ul>
      <li><%= link_to "Home", root_url %></li>
      <li><%= link_to "Events", events_path %></li>
      <li><%= link_to "Announcements", announcements_path %></li>
    </ul>


    <div id="myform" >
      <% if !logged_in? %>

      <p>
        <%= form_tag sessions_path do -%>
        <label for="login">Username</label>&nbsp;<%= text_field_tag 'login' %>&nbsp;<label for="password">Password</label>&nbsp;<%= password_field_tag 'password' %>&nbsp;&nbsp;<%= submit_tag 'Log in', :class => 'sigin_submit' %>
        <% end -%>
        <!--  <label for="remember_me">Remember me:</label><%# check_box_tag 'remember_me' %> -->
        <!-- Forgot Password? <%# link_to 'Click Here', "#", { :class => 'resetpassword' } %> -->
      </p>
      <% else %>
      <ul>
        <li><%= link_to 'My Account', edit_user_path %></li>
        <li><%= link_to 'Logout', logout_path %></li>
      </ul>
      <% end %>




    </div>
    <br style="clear: both;" />
  </div>


  <div id="container">


    <%= show_flash_message(:fade => 10) %>

    <%= content_tag :h1, yield(:title) if show_title? %>
    <%= yield %>
  </div>
</body>
</html>
