<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : "Welcome to FreddieFit!" %></title>
  <%= stylesheet_link_tag "application", 'jquery-ui-1.9.0.custom', 'uniform.default', 'datagrid' %>
  <%= javascript_include_tag 'jquery', 'jquery-ui-1.9.0.custom', 'application', 'jquery_ujs' %>
  <%# javascript_include_tag :all %>

  <%= csrf_meta_tag %>
  <%= yield(:head) %>
</head>
<body>


  <div style="margin-left: auto; margin-right: auto; text-align: center">
    <h1><em>FreddieFit</em></h1>
  </div>
  <div id="navigation" class="invertedshiftdown">
    <ul>
      <li><%= link_to "Home", root_url %></li>
      <li><%= link_to "Events", events_path %></li>
      <li><%= link_to "Announcements", announcements_path %></li>
      <li><%= link_to "Food", foods_path %></li>
      <li><%= link_to "Menus", "#" %></li>
      <li><%= link_to "Classes", show_classes_path %></li>


    </ul>


    <% if !logged_in? %>

    <div id="login_form">

      <p>
        <%= form_tag sessions_path do -%>
        <label for="login">Username</label>&nbsp;<%= text_field_tag 'login' %>&nbsp;<label for="password">Password</label>&nbsp;<%= password_field_tag 'password' %>&nbsp;&nbsp;<%= submit_tag 'Log in', :class => 'sigin_submit' %>
        <% end -%>
        <!--  <label for="remember_me">Remember me:</label><%# check_box_tag 'remember_me' %> -->
        <!-- Forgot Password? <%# link_to 'Click Here', "#", { :class => 'resetpassword' } %> -->
      </p>

    </div>

    <% else %>

    <div id="nav-account">

      <ul>
        <li>Welcome, <%= current_user.nice_name %></li>
        <li><%= link_to 'My Account', edit_current_user_path %></li>
        <li><%= link_to 'Logout', logout_path %></li>
      </ul>

    </div>

    <% end %>

    <br style="clear: both;" />
  </div>


  <div id="container">


    <%= show_flash_message(:fade => 10) %>

    <%= content_tag :h1, yield(:title) if show_title? %>
    <%= yield %>
  </div>
</body>
</html>
